@charset "UTF-8";

:root {
  --primary: #333355;
  --secondary: #777799;
}

.content {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 10px 20px;

  text-align: left;
  border-radius: 0.4rem;
  background-color: #f9f9f9;
  color: var(--primary);
}

.content h1 {
  margin: 1rem 0;
}

.content ul {
  list-style: initial;
  background-color: initial;
}

.lemma {
  text-transform: lowercase;

  font-family: serif;
  font-size: 3rem;
}

.phonetic {
  font-weight: normal;
  color: var(--secondary);
}

.content p {
  text-align: justify;
}

.reference {
  font-style: italic;
  color: var(--secondary);
}
